{% extends "base.html" %}
{% block content %}

<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="mt-5 mb-4">{{ page_title }}</h2>
                <p>
                    Welcome to Cook It, your ultimate destination for exploring the sweet side of life! <br> Whether you're a newcomer to
                    the world of desserts or a seasoned baker, Cook It is here to inspire you with delightful recipes and helpful tips.

                    At Cook It, we're passionate about all things sweet. From decadent cakes to indulgent cookies and everything in
                    between, our goal is to make dessert-making fun, approachable, and rewarding for everyone.

                    Discover a treasure trove of dessert recipes, each carefully crafted to satisfy your sweet cravings and ignite your
                    creativity in the kitchen. Whether you're celebrating a special occasion or simply treating yourself to a sweet
                    treat, Cook It has something for every dessert lover.

                    Join our community of fellow dessert enthusiasts, share your baking adventures, and let's embark on a delicious
                    journey together. Get ready to indulge your sweet tooth and unleash your inner pastry chef and just<strong> Cook It!</strong>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<hr>
<section class="pt-5 bg-light">
    <div>
        <div class="text-center mb-5" >
            <h2 class="mb-4">Meet Our Team</h2>
        </div>
                
        <div class="row">
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img style="height: 150px; width: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE6zolzsuthiUrIsTtWBqBJOSRQJppegIIK-Pfax73Rg&s" alt="Team Member">
                    <h3 class="mt-3">Emma Right</h3>
                    <p>CEO & Founder</p>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img style="height: 150px; width: 150px;" src="https://images.squarespace-cdn.com/content/v1/5aee389b3c3a531e6245ae76/1628444769450-0AAE0PZIJ0K03LXI66JB/Franklin_Knox_Headshots+%283%29.jpg" alt="Team Member">
                    <h3 class="mt-3">Mike Johnson</h3>
                    <p>Marketing Manager</p>
                </div>
            </div>
            <div class="col-md-4">
                <div style="text-align: center;">
                    <img style="height: 150px; width: 150px;" src="https://images.freeimages.com/images/large-previews/092/marks-of-time-1431882.jpg" alt="Team Member">
                    <h3 class="mt-3">Jane Smith</h3>
                    <p>Lead Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

{% endblock %}
