{% extends "base.html" %}
{% block content %}

<h2>{{ page_title }}</h2>

    <p>
        Welcome to Cook It, your ultimate destination for exploring the sweet side of life! Whether you're a newcomer to
        the world of desserts or a seasoned baker, Cook It is here to inspire you with delightful recipes and helpful tips.

        At Cook It, we're passionate about all things sweet. From decadent cakes to indulgent cookies and everything in
        between, our goal is to make dessert-making fun, approachable, and rewarding for everyone.

        Discover a treasure trove of dessert recipes, each carefully crafted to satisfy your sweet cravings and ignite your
        creativity in the kitchen. Whether you're celebrating a special occasion or simply treating yourself to a sweet
        treat, Cook It has something for every dessert lover.

        Join our community of fellow dessert enthusiasts, share your baking adventures, and let's embark on a delicious
        journey together. Get ready to indulge your sweet tooth and unleash your inner pastry chef and just<strong> Cook It!</strong>
    </p>


{% endblock %}
