<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cook It</title>

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='favicon/site.webmanifest') }}">

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cookit.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    </head>

    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">Cook It</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('community') }}">Community</a>
                        </li>
                        <li class="nav-item">
                        {% if session.logged_in %}
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        {% else %}
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Page Header -->
        <header class="masthead" style="background-image: url('https://storage.ifi.it/public/assets/furnishing/furnishing-mood/mood-02/header-single-page/ifi-spa-mood-02-furnishing-project.webp')">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <div class="site-heading">
                            <h1>Cook It</h1>
                            <span class="subheading">A selection of wonderful dessert recipies</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    
        {% block content %}

        {% endblock %}


        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <!-- Social media icons -->
                        <div class="text-center">
                            <a aria-label="facebook" href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" style="font-size: 20px; padding: 9px;"></i></a>
                            <a aria-label="twitter" href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter-square" style="font-size: 20px; padding: 9px;"></i></a>
                            <a aria-label="instagram" href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram" style="font-size: 20px; padding: 9px;"></i></a>
                        </div>
                        <p class="copyright text-muted">Copyright &copy; Cook It <span id="copyright"></span></p>
                    </div>
                </div>
            </div>
        </footer>
	
	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	
	<!-- Custom scripts for this template -->
	<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

    <script>
        $("#copyright").text(new Date().getFullYear());
    </script>

    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
    
    </body>
</html>