{% extends "base.html" %}
{% block content %}



<div class="page-section clearfix">
  <div class="container">
    <div class="row mx-auto">
      <h1 class="mt-4 mt-3">Easy Desserts</h1>
    
    </div>
  </div>
</div>

<section class="page-section clearfix mt-4">
    <div class="container">
        <div id="accordion">

          {% for recipe in recipies %}

            <div class="card">
              <div class="card-header" id="headingOne" >
                <h5 class="mb-0" style="display: flex; align-items: center;">
                  <img style="float: left; max-width: 350px;" class="mr-3" src="{{ recipe.image }}" alt="Dessert Image">
                  <div>
                    <button style="font-size:large;letter-spacing: 3px;" class="btn btn-dark" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      {{ recipe.name }}
                    </button>
                    <p style="font-size: medium;">{{ recipe.description }} </p>
                    <i class="fa fa-clock-o" aria-hidden="true"></i><p style="font-size: small; list-style: none;"><span>Prep: {{ recipe.prep }} & Cook: {{ recipe.cook }}</span></p>
                  </div>
                </h5>
              </div>
          
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  how do i put the ingredients and method here
                </div>
              </div>
            </div>

          {% endfor %}

        </div>
    </div>
</section>
<hr>
<section class="page-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="text-center">
                    <h2 class="section-heading mb-4">OUR PROMISE TO YOU</h2>
                    <p class="px-5"><em>When you visit our website, we are dedicated to providing you with
                        great recipes, which include the highest quality ingredients. If you are not sure with any
                        recipe, please let us know and we will do everything we can to help you out!</em></p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

{% endblock %}