{% extends "base.html" %}
{% block content %}

<style>
     .login-container {
            width: 600px;
            margin: 0 auto;
            padding: 40px;
            border: 2px solid #ccc;
            border-radius: 10px;
            background-color: #f9f9f9;
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 40px;
        }
        .login-container input[type="text"],
        .login-container input[type="password"], 
        .login-container input[type="email"] {
            width: 100%;
            padding: 20px;
            margin-bottom: 30px;
            border: 2px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
            font-size: 18px;
        }
        .login-container button {
            width: 100%;
            padding: 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s;
            font-size: 18px;
        }
        .login-container button:hover {
            background-color: #0056b3;
        }
        
        .signup-link {
            text-align: center;
        }
        .signup-link a {
            color: #007bff;
            text-decoration: none;
        }

</style>


<br>
<br>

<section class="signup-section">
    <div class="login-container">
        <h2>Sign up here</h2>
        <form action="{{ url_for('add_users') }}" method="post">
            <input type="text" id="username" name="username" placeholder="Username" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <input type="email" id="email" name="email" placeholder="Email" required>
            <button type="submit">Create new user</button>
        </form>
        <br>
    </div>
</section>

<br>
<br>
<hr>

{% endblock %}
